body {
  background: linear-gradient(#7ac2ff, #ffffff);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.gambar {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.gambar img {
  width: 40%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -150px;
}

.line {
  width: 2px;
  height: 100px;
  background-color: black;
}

.pertanyaan-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.kolomA,
.kolomB {
  width: 45%;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 10px;
  background: #fff9d6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.kolomA h2,
.kolomB h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1565c0;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #0d47a1;
}

.gambar img {
  transition: transform 0.5s ease-out; /* ANIMASI GESER HALUS */
}

.keyboard {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.key {
  width: 30px;
  padding: 5px;
  background: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.key:hover {
  background: #555;
}

.key.big {
  width: 100px;
}

@media (max-width: 578px) {
  h1 {
    font-size: 25px;
  }
  .gambar img {
    width: 80%;
  }
  .kolomA,
  .kolomB {
    padding: 5px;
  }
  .key {
    width: 20px;
    font-size: 13px;
  }

  .kolomA h2,
  .kolomB h2 {
    text-align: center;
    font-size: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  button {
    width: 100%;
    padding: 8px;
    background: #1565c0;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .container {
    margin-top: -80px;
  }

  .line {
    width: 3px;
    height: 50px;
    background-color: black;
    margin-bottom: 20px;
  }
}
